.auth__title {
  font-size: 40px;
  color: cyan;
  margin-top: 20%;
}

button {
  margin-top: 30px;
  padding: 10px 100px;
  font-size: 20px;
  background-color: rgba($color: #00FFFF, $alpha: 0.7);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: rgba($color: #00FFFF, $alpha: 1.0);
}

input {
  margin-top: 30px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(25, 212, 218, 0.1);
  padding: 10px 0;
  margin: 10px 10px;
}
