.logout {
  background-color: red;
  color: lightgray;
  padding: 10px 20px;
}

.todos {
  color: white;
}

.addTodo {
    float: left;
}

.todo_card {
    display: inline-table;
    margin: 0 auto;
}